{% extends 'base.html.twig' %}

{% block body_id %}

{% endblock %}

{% block main %}
    <div class="container body-content">
        <div style="text-align: center; font-size: 40px">{{ user.username }}'s uploads</div>
        <br/>
        <div class="row">
            {% for song in songs %}
                <div class="col-md-4">
                    <article style="margin-bottom: 20px; margin-top: 10px">
                        <br/>
                        <img src="{{ cover_directory~'/'~song.coverFile }}" style="width: 200px; height: auto; border: 2px black solid"/>
                        <br/>
                        <a href="{{ path('song_view', {'id': song.id}) }}" style="font-size: 25px; color: black">{{ song.songAuthor }} - {{ song.songName }}</a>
                        <br/>
                    </article>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}

