
{% extends 'base.html.twig' %}



    {% block main %}
        <div class="container body-content span=8 offset=2" id="deleteUsers" >
            <div class="well" id="deleteAdminForm">
                <form class="form-horizontal" action="{{ path('song_delete',{'id' : song.id}) }}" method="post" id="deleteForm">
                    <fieldset>
                        <legend>Delete Song</legend>
                        <div class="form-group">
                            <label class="col-sm-4 control-label" for="song_name" id="labelName">Song Name</label>
                            <input class="form-control" id="song_name" value="{{ song.songName }}" required  disabled>

                        </div>
                        <div class="form-group">
                            <label class="col-sm-4 control-label" for="user_author">Song Author</label>
                            <input type="text" class="form-control" id="user_author" value="{{ song.songAuthor }}"  disabled>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-4 control-label" id="labelName2">Category - {{ song.category }}</label>
                        </div>

                        {{ form_row(form._token) }}
                        <div class="form-group">

                            <button type="submit" class="btn btn-primary">Submit</button>
                            <a href="{{ path('print_all_songs') }}" class="btn btn-primary" id="cancelButton">Cancel</a>

                        </div>
                    </fieldset>
                </form>
            </div>
        </div>


{% endblock %}








