{% extends 'base.html.twig' %}

{% block main %}

    <!--Upload form-->
    <div id="id03" class="">

        {{ form_start(form, {'attr': {'class': 'uploadForm'}}) }}
        <div class="imgcontainer">
            <img src="{{ asset('pictures/remixLogo2.jpg') }}" alt="Avatar" class="avatar">
            <p class="formText">Upload</p>
        </div>

        <div class="container">
            {{ form_row(form.file, {'attr': {
                'class': 'uploadFile'
            }}) }}
            <br/>
            {{ form_row(form.coverFile, {'attr': {
                'required': false, 'class': 'uploadFile'
            }}) }}
            <br/>
            {{ form_row(form.songName, { 'attr': {
                'placeholder': 'Song name' }})  }}
            {{ form_row(form.songAuthor, { 'attr': {
                'placeholder': 'Song author' }})  }}
            <br/>
            {{ form_row(form.category,  { 'attr': {
                'placeholder': 'Song category' }})  }}
            <br/>

            <button type="submit">Upload song</button>
            {{ form_end(form) }}
        </div>
    </div>


{% endblock %}






