{% extends 'base.html.twig' %}

{% block body_id 'song_upload' %}

{% block main %}
    <div class="container body-content span=8 offset=2">
        <div class="col-sm-4 col-sm-offset-3" style="background: #555">
            {{ form_start(form) }}
                <legend style="color: #FFF">Upload a song</legend>

                {{ form_row(form.file) }}
                <br/>
                {{ form_row(form.coverFile, {'attr': {
                    'required': false
                }}) }}
                <br/>
                {{ form_row(form.songName, { 'attr': {
                    'placeholder': 'Song name' }})  }}
                {{ form_row(form.songAuthor, { 'attr': {
                    'placeholder': 'Song author' }})  }}
                <br/>
                <button type="submit">Upload song</button>
            {{ form_end(form) }}
        </div>
    </div>
{% endblock %}