{% extends 'base.html.twig' %}

{% block main %}
    <!--Login form-->
    <div id="id01" class="modal">
        <form class="modal-content animate" action="{{ path('security_login') }}" method="post" >
            <div class="imgcontainer">
                <span onclick="closeModalFunction()" class="close" title="Close Modal">&times;</span>
                <img src="{{ asset('pictures/remixLogo2.jpg') }}" alt="Avatar" class="avatar">
                <p class="formText">Login</p>
            </div>

            <div class="container">
                <label><b>Username</b></label>
                <input type="text" placeholder="Enter Username" name="uname" required>

                <label><b>Password</b></label>
                <input type="password" placeholder="Enter Password" name="psw" required>

                <button type="submit">Login</button>
            </div>
        </form>
    </div>

    <!--Registration form-->
    <div id="id02" class="modal">
        <form class="modal-content animate" action="{{ path('user_register') }}" method="post" >
            <div class="imgcontainer">
                <span onclick="closeModalFunction()" class="close" title="Close Modal">&times;</span>
                <img src="{{ asset('pictures/remixLogo2.jpg') }}" alt="Avatar" class="avatar">
                <p class="formText">Registration</p>
            </div>

            <div class="container">
                <label><b>Name</b></label>
                <input type="text" placeholder="Enter Name" name="name" required>

                <label><b>Username</b></label>
                <input type="text" placeholder="Enter Username" name="uname" required>

                <label><b>Email</b></label>
                <input type="text" placeholder="Enter Email" name="email" required>

                <label><b>Password</b></label>
                <input type="password" placeholder="Enter Password" name="password" required>

                <label><b>Confirm Password</b></label>
                <input type="password" placeholder="Confirm Password" name="confirmPassword" required>


                <button type="submit">Register</button>
            </div>
        </form>
    </div>
    <div class="buttons">

        <ul class="rotateButtons">
            <li class="rotateButton"><a href="{{ path('security_login') }}" class="round login">Login<span class="round">If you already have an account.</span></a></li>
            <li class="rotateButton"><a href="{{ path('user_register') }}" class="round register">Register<span class="round">If you don't have an account. </span></a></li>
            <li class="rotateButton"><a href="#" class="round catalog">Catalog<span class="round">Take a look.</span></a></li>
        </ul>

    </div>
{% endblock %}